@import '../../styles/settings.scss';

.NavBar{
  background-color: darken($color-dark, 3%);
  justify-content: space-between;
  text-align: right;
}
.span{
  font-size: 50px;
  text-align: left;
  display: flex;
  justify-content: center;
}

.link {
  margin: 5px;
  font-size: 15px;
}
